.table {
    width: auto;
    border: 0;
}

#address {
line-height: 1;
text-align:right;
white-space: pre-wrap;
margin-top: -10px;
padding-right: 40px;
text-color:gray;

}

.page-header {
    padding-bottom:5px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.restaurant-detail {
    margin-top:20px;
    padding-left: 4em;
    width:85em;
    margin-left:auto;
    margin-right:auto;
    float: center;
}

.cluster_photos {
    max-height: 300px;
    overflow-x: auto;
    white-space: nowrap;
}

a.navbar-brand {
    margin: 0% 0% 0% -25%;

}

.logo {
    max-height: 350%;
    margin: -19% 0% 0% 0%;
}

#review_container {
    margin-top:1em;
    margin-bottom:1em;
    margin-left:auto;
    margin-right:auto;
    width:80em;
    padding: 0em 6em 0em 3em;
    height: 40em;
    overflow-y: auto;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}

img.img-responsive {
    height:184px;
    width:auto;
    max-width:245px;
}

.thumbs {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-position: center center;
    background-size: cover;
}

.col-sm-1 {
    width:auto;
    padding-right: 0px;
    padding-left: 0px;
}

.grid {
    transform:translate3d(0,0,0);
  -webkit-transform:translate3d(0,0,0);
  -moz-transform:translate3d(0,0,0);
  padding-left: 1em;
}
.overlay-layer {
  opacity:0;
  width:100px;
  height:100px;
  position: absolute;
  background-color:white;
      transition : opacity 150ms; 
    -webkit-transition : opacity 150ms; 
    -moz-transition : opacity 150ms;
    -o-transition : opacity 150ms; 
}

div.row.button_row {
    margin: 1em 4.5em 1em 1em;
    text-align: right;
}

.btn {
    border-radius: 0px;
    padding: 3px 6px;
}

hr#address_hr {
    margin-top:0.5em;
    margin-bottom:0.25em;
    border-top:2px solid #ddd;
}

p#address_p {
    margin: 0.6em 0em 0em 0em;
}

footer p {
    margin: 0em 0em 1em 5em;
}

div.container {
    width:80em;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
