<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Visaurant</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

	    <!-- Slide Carousel CSS -->
	    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>
	    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick-theme.css"/>

	     <!-- Custom CSS -->
	    <link href="{{ url_for('static', filename='css/stylish-portfolio.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='fonts/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top"  onclick = $("#menu-close").click(); >Visaurant</a>
            </li>
            <li>
                <a href="#top" onclick = $("#menu-close").click(); >Home</a>
            </li>
            <li>
                <a href="#about" onclick = $("#menu-close").click(); >About</a>
            </li>
            <li>
                <a href="#contact" onclick = $("#menu-close").click(); >Contact</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Visaurant</h1>
            <h3>Reimagining the way you eat</h3>
            <br>
            <a href="#selections" class="btn btn-dark btn-lg">Get Started</a>
        </div>
    </header>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="selections" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                  <h2>Get Started</h2>
		  <p><i>Select the group of photos that look best to you</i></p>
                    <hr class="small">
                    <div class="row carousel">
		      {% for key, value in restaurant_dict.iteritems() %}
                        <div class="col-md-4 col-sm-8">
                          <div class="images_container" id={{key}}>
			    <span class="group_overlay_text" id={{key}}>{{detail_dict[key][0]}}<br>{{detail_dict[key][1]}}</span>
			    {% for photo in value %}
			    <div class="group_image" style="background-image:url({{photo}})"></div>
			    {% endfor %}
			   </div>
                        </div>
			{% endfor %}
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <section id="recommendations">
      <div class="row text-center">
      <h2>Our Recommendations</h2>
      <p><i>Based on your selections above, we recommend checking out the following restaurants! Click on the restaurant to go to the restaurant page.</i></p>
      <hr class="small">
      <div class="recommendations_container">
	
      </div>
	</div>
    </section>
    

 <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Visaurant is a platform that allows users to visually search for food they'd like to eat</h2>
                    <p class="lead">This is Jeff Wen's final project for his Metis data science bootcamp</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    
    <!-- Footer -->
    <footer>
        <div class="container" id="contact">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Contact</strong>
                    </h4>
                    <p>Somewhere<br>San Francisco, CA 94105</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i>email me first!</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="#">jeff DOT li DOT wen AT gmail DOT com</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
		        <li>
                            <a href="https://www.linkedin.com/in/wenjeff"><i class="fa fa-linkedin-square fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="http://jeffwen.github.io" title="Jeff's Blog"><i class="fa fa-pencil-square-o fa-fw fa-3x"></i></a>
                        </li>
		        <li>
                            <a href="https://www.github.com/jeffwen"><i class="fa fa-github-square fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Jeff Wen 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{url_for('static', filename='js/bootstrap.js') }}"></script>

    <!-- Slide Carousel JavaScript -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>

      // hide the recommendations portion

      $("#recommendations").hide();
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });


    <!-- Changing background -->
    var i =0 ;

    var array = ["url('/static/images/2.jpg')","url('/static/images/3.jpg')","url('/static/images/4.jpg')","url('/static/images/1.jpg')"]
    $('header#top.header').css('background-image',"url('/static/images/1.jpg')");

    function changeBG(){
    if ( i > array.length-1) {
        i = 0;
    }
    
    $('header#top.header').css('background-image',array[i]) ;
    i++;
    }

    window.setInterval("changeBG()", 10000);

    <!-- Slides -->
    $('.carousel').slick({
    slidesToShow: 3,
    slidesToScroll: 3,
    arrows: false,
    dots: true,
    infinite: false
});

    <!-- Ajax post to server side with selected restaurants -->
    function getRecommendations(aList){
    $.ajax({
    type: "POST",
    contentType: "application/json; charset=utf-8",
    url: "/get_recs",
    dataType: "json",
    async: true,
    data: JSON.stringify({'selections':aList}),
    success: function(data){
    console.log(data);
    $(".recommendations_container").append(data['html']);
    },
    error: function(data){}
    })
    };

    
    var selections = [];

    $(".images_container").click(function(d){
			     selections.push($(this).attr('id'));
    console.log(selections);
    $(this).css('opacity',0.3);
    $('.carousel').slick('slickNext');
    if (selections.length==4){
    getRecommendations(selections);
    $("#recommendations").show();
    };
    });


    function redirect(someBusiness){
    $.ajax({
    type: "POST",
    contentType: "application/json; charset=utf-8",
    url: "/redirect_me",
    dataType: "json",
    async: true,
    data: JSON.stringify({'url':someBusiness}),
    success: function(data){
    <!-- console.log(data); -->
    window.location.href = data;
    },
    error: function(data){}
    })
    };
    
    $("body").click(function(e){
    <!-- var the_id = $(e.target).attr('id'); -->
    <!-- var the_class = $(e.target).attr('class'); -->
    var the_data_group = $(e.target).attr('data-group'); 
    <!-- console.log(the_id); -->
    <!-- console.log(the_class); -->
    console.log(the_data_group);

    if (the_data_group == 'recommendations'){
    var the_id = $(e.target).attr('id');
    <!-- console.log(the_id); -->
    redirect(the_id);
    }

    });
    
    </script>

</body>

</html>
